table{
    border: 2px solid purple;
    /*border-collapse: collapse*/
}

th,td{
    border: 2px solid palevioletred;
}

caption{
    border: 2px solid pink;
}

.suspenso{
    background-color: red;
} 

.aprobado{
    background-color: rgb(17, 0, 255);
} 

.matricula{
    background-color: rgb(0, 255, 242);
} 
